// Put custom SCSS rules in this file
// Documentation: https://sass-lang.com/documentation

.portfolio-work {
	padding: 80px 0;

	.block {
		.portfolio-menu {
			text-align: center;
			
			.btn-group {
				margin-bottom: 40px;


				label {
					display: inline-block;
					border: 1px solid $border-color;
					padding: 8px 25px;
					cursor: pointer;
					font-size: 15px;
					color: #333333;
					outline: 0;
					background: $light;
					margin: 2px;
					border-radius: 0;
					@include transition (all, 0.3s, ease);
				}
			}
		}
	}
}
